<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KNPhotoBrower.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79CD4E2321EC8AF900517A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79CD4E3B21EC8AFA00517A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79CD4E4621EC8AFB00517A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
